.search-cont {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.search-inp {
  padding: 10px 300px;
  font-size: 15px;
  width: 250px;
  border-width: 0;
  background: #a592f2;
  color: #e7e9f0;
}

.search-inp::placeholder {
  color: #e7e9f0;
}
.search-inp:focus {
  outline: none;
}
